{% extends "layout/login.html" %}
{% block content %}
  <div id="lp-register">
    <div class="container wrapper">
      <div class="row">
        <div class="col-sm-6">
          <div class="intro-texts">
            <h1 class="text-white">Friendlify</h1>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 text-center">
          <div class="reg-form-container">
            <!-- Register/Login Tabs-->
            <div class="reg-options">
              <ul class="nav nav-tabs">
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
              </ul>
            </div>
            <br>
            <div class="tab-content" style="padding-top: 30px;">
              <div class="tab-pane active">
                <h2>Activation Success</h2>
                <p class="text-muted">You may now login to your account</p>
                <p>Click <a href="{{ url_for('login') }}">here</a> to login your account.</p>
                <br>
                <p>You will be redirected to login page in <span id="countdown">10</span> seconds...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      // Delay in milliseconds
      var delay = 10000;
      var countdownElement = $("#countdown");

      // Retrieve initial timestamp from local storage
      var initialTimestamp = localStorage.getItem("countdownStart");
      var remainingSeconds;

      if (initialTimestamp) {
        var elapsedTime = Date.now() - initialTimestamp;
        remainingSeconds = Math.max(Math.ceil((delay - elapsedTime) / 1000), 0);
      } else {
        remainingSeconds = Math.ceil(delay / 1000);
        localStorage.setItem("countdownStart", Date.now());
      }

      // Update countdown display
      function updateCountdown(seconds) {
        countdownElement.text(seconds);
      }

      // Redirect after delay
      updateCountdown(remainingSeconds);

      var countdownInterval = setInterval(function() {
        remainingSeconds--;
        updateCountdown(remainingSeconds);

        if (remainingSeconds === 0) {
          clearInterval(countdownInterval);
          localStorage.removeItem("countdownStart");
          window.location.href = "{{ url_for('login') }}";
        }
      }, 1000);
    });
  </script>
{% endblock content %}