{% extends "layout/login.html" %}
{% block content %}
  <div id="lp-register">
    <div class="container wrapper">
      <div class="row">
        <div class="col-sm-6">
          <div class="intro-texts">
            <h1 class="text-white">Friendlify</h1>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
          <div class="reg-form-container"> 
          
            <!-- Register/Login Tabs-->
            <div class="reg-options">
              <ul class="nav nav-tabs">
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
              </ul><!--Tabs End-->
            </div>
            
            <!--Registration Form Contents-->
            <div class="tab-content" style="padding-top: 30px;">
              <!--Login-->
              <div class="tab-pane active">
                <h3>Reset Password</h3><br>
                {% with message = get_flashed_messages(with_categories=True)[0] if get_flashed_messages() else None %}
                  {% if message %}
                    <div class="alert alert-{% if message[0] == 'success' %}success{% else %}danger{% endif %} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      <div class="alert-message">{{ message[1] }}</div>
                    </div>
                  {% endif %}
                {% endwith %}
                <!--Reset Password Form-->
                <form action="{{ url_for('resetPassword', token=token) }}" method="post" id='Login_form'>
                  {{ form.csrf_token }}
                  <div class="row">
                    <div class="form-group col-xs-12">
                      <input id="password" class="form-control {% if form.password.errors %} input-error {% endif %}" type="password" name="password" placeholder="New Password"/>
                      {% for error in form.password.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-12">
                      <input id="confirm_password" class="form-control {% if form.confirm_password.errors %} input-error {% endif %}" type="password" name="confirm_password" placeholder="Confirm New Password"/>
                      {% for error in form.confirm_password.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                      {% endfor %}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-flat btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}