
{% extends "layout/home.html" %}
{% block content %}
  <div id="page-contents">
    <div class="container">
      <div class="row">
        <!-- Newsfeed Common Side Bar Left
        ================================================= -->
        {% include "layout/left-sidebar.html" %}
        <div class="col-md-7">
          <!-- Post Create Box
          ================================================= -->
          <div class="create-post">
            <div class="row">
              <form class="post-form" id="post-form">
                <div class="col-md-7 col-sm-7">
                  <div class="form-group">
                    <img src="{{ url_for('static', filename='files/'~ user.username ~ '/' ~ user.image) }}" alt="" class="profile-photo-md" />
                    <textarea name="texts" id="post-content" cols="30" rows="1" class="form-control" placeholder="What's on your mind, {{ user.display_name if user.display_name else user.firstname }}?"></textarea>
                  </div>
                </div>
                <div class="col-md-5 col-sm-5">
                  <div class="tools">
                    <ul class="publishing-tools list-inline">
                      <li><a href="#"><i class="ion-compose"></i></a></li>
                      <li><a href="#"><i class="ion-images"></i></a></li>
                      <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                      <li><a href="#"><i class="ion-map"></i></a></li>
                    </ul>
                    <button type="submit" class="btn btn-primary btn-xs pull-right bg-custom-color">Publish</button>
                  </div>
                </div>
              </form>
            </div>
          </div><!-- Post Create Box End-->

          <div id="loading-status" class="text-center" style="position: absolute; left: 45%; margin-top: -30px; display: none; z-index: 9999;">
            <div class="spinner" style="width: 30px; height: 30px;"></div>
          </div>
          <div class="post-lists"></div>
        </div>

        <!-- Newsfeed Common Side Bar Right
        ================================================= -->
        <div class="col-md-2 static friend-suggestions">
          <div class="suggestions" id="sticky-sidebar">
            <h4 class="grey">Want to Follow?</h4>
            <div class="follow-user">
              <img src="https://themified.com/friend-finder/images/users/user-11.jpg" alt="" class="profile-photo-sm pull-left" />
              <div>
                <h5><a href="timeline.html">Diana Amber</a></h5>
                <a href="#" class="text-grey text-custom-color font-weight-600">Add friend</a>
              </div>
            </div>
            <div class="follow-user">
              <img src="https://themified.com/friend-finder/images/users/user-12.jpg" alt="" class="profile-photo-sm pull-left" />
              <div>
                <h5><a href="timeline.html">Cris Haris</a></h5>
                <a href="#" class="text-grey text-custom-color font-weight-600">Add friend</a>
              </div>
            </div>
            <div class="follow-user">
              <img src="https://themified.com/friend-finder/images/users/user-13.jpg" alt="" class="profile-photo-sm pull-left" />
              <div>
                <h5><a href="timeline.html">Brian Walton</a></h5>
                <a href="#" class="text-grey text-custom-color font-weight-600">Add friend</a>
              </div>
            </div>
            <div class="follow-user">
              <img src="https://themified.com/friend-finder/images/users/user-14.jpg" alt="" class="profile-photo-sm pull-left" />
              <div>
                <h5><a href="timeline.html">Olivia Steward</a></h5>
                <a href="#" class="text-grey text-custom-color font-weight-600">Add friend</a>
              </div>
            </div>
            <div class="follow-user">
              <img src="https://themified.com/friend-finder/images/users/user-15.jpg" alt="" class="profile-photo-sm pull-left" />
              <div>
                <h5><a href="timeline.html">Sophia Page</a></h5>
                <a href="#" class="text-grey text-custom-color font-weight-600">Add friend</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
  <script>
    var typing = false;
    var timeout = undefined;
    var userId = "{{ session['id'] }}";
    var userDisplayName = '{{ user.display_name if user.display_name else user.firstname }}';
    var currentPage = 1;
    var nextPageComment = {};
    var lastPage = null;
  
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    get_posts();

    // Get posts per page
    function get_posts(page = currentPage) {
      currentPage = page;
      $.ajax({
        url: '/get-posts/' + page,
        type: 'GET',
        success: function(response) {
          var postCount = response.posts.length;
          var completedCount = 0;
          var htmlContent = response.html;
          lastPage = response.last_page;

          for (var i = 0; i < postCount; i++) {
            var post = response.posts[i];
            var postId = post.id;

            // get_comments(post.id, 1);
            get_comments(postId, 1, function() {
              completedCount++;
              // Check if all comments have been retrieved before proceeding
              if (completedCount === postCount) {
                // All comments have been appended, perform further actions here
              }
            });
          }

          if (response.has_more && response.lastPage != 0) {
            currentPage++;
            $('.post-lists').append(htmlContent);
            if (response.last_page == 0) {
              var newDiv = $('<div class="post-content text-center"> No more posts to show. </div>');
              $('.post-lists').append(newDiv);
              newDiv.hide().fadeIn(1000);
            }
          } 
        },
        complete: function(response) {
          $('#loading-status, .post-loader').fadeOut('slow');
        },
        error: function(error) {
          console.log(error);
        }
      });
    }

    // Get comments per page per post
    function get_comments(post_id, page, callback) {
      $.ajax({
        type: 'GET',
        url: '/get-comments/' + post_id + '/' + page,
        success: function(response) {
          var htmlContent = response.html;
          if (response.has_more && response.last_page != 0) {
            $('.view-more-comment-container-' + post_id).append('<div class="text-center"><a href="javascript:void(0)" class="load-more-comments" data-post-id="'+ post_id +'">See previous comments</a></div>')
          }

          $('.post-comment-lists-' + post_id).append(htmlContent);

          if (callback) {
            callback();
          }
        }
      });
    }

    // Load more comments per post
    $(document).on('click', '.load-more-comments', function(event) {
      event.preventDefault();
      var postId = $(this).data('post-id');
      var btn = $(this);
      var nextPage = nextPageComment[postId] || 2;

      var commentLoadingStatus = '<div class="comment-loader-'+ postId +' text-center">'+
              '<div class="spinner" style="width: 20px; height: 20px; top: 0; margin-left: 48%; position: inherit"></div>' +
            '</div>'
      $('.post-comment-lists-' + postId).prepend(commentLoadingStatus);
      $.ajax({
        type: 'GET',
        url: '/get-comments/' + postId + '/' + nextPage,
        success: function(response) {
          if (response.last_page != 0) {
            var htmlContent = $(response.html);
            setTimeout(() => {
              $('.post-comment-lists-' + postId).prepend(htmlContent);
              $(htmlContent).hide().fadeIn('slow');
            }, 600);
            nextPageComment[postId] = nextPage + 1;
          } else {
            btn.remove();
          }
        },
        complete: function(response) {
          $('.comment-loader-' + postId).fadeOut('slow');
        }
      });
    });

    // Submit Post
    $('.post-form').submit(function(event) {
      event.preventDefault();
      var postContent = $('#post-content').val();
      if (postContent != '') {
        currentPage = 1;
        $('#loading-status').show();
        socket.emit('new_post', {'content': postContent});
        $('#post-content').val('');
      }
    });

    // Realtime post
    socket.on('new_post', function(data) {
      if (data.content == '') {
        // alert('Please write a post');
      } else {
        $('.post-lists').empty();
        get_posts(1);
      }
    });

    // Function for check user typing
    function startTyping(postId) {
      var comment = $('#comment-input-' + postId).val();
      socket.emit('typing', {'user_id': userId, 'comment': comment, 'firstname': userDisplayName, 'post_id': postId});
    }

    // Function for check user stop typing
    function stopTyping(postId) {
      socket.emit('stop_typing', {'user_id': userId, 'comment': '', 'firstname': userDisplayName, 'post_id': postId});
    }

    // Check user typing status
    socket.on('typing_status', function(data) {
      var dataUserId = data.user_id;
      var postId = data.post_id;
      var userName = data.name;
      var comment = data.comment;
      var typing = data.typing;
      var typingUsers = data.users;
      if (typingUsers !== undefined) {
        typingUsers = typingUsers.filter(function(item) {
          return item !== userDisplayName;
        });
        if (typing || typingUsers.length > 0) {
          if (userId != dataUserId) {
            if (typingUsers.length > 5 ) {
              $('#typing-status-' + postId).html('<i>' + typingUsers.length + ' people are typing...</i>');
            } else {
              $('#typing-status-' + postId).html('<i>' + typingUsers.join(', ') + ' is typing...</i>');
            }
          }
        } else {
          if (userId != dataUserId) {
            $('#typing-status-' + postId).html('');
          }
        }
      }
    });

    // Realtime comment
    socket.on('new_comment', function(data) {
      if (data.comment != '') {
        var newComment = $(
          '<div class="post-comment">' +
            '<img src="' + data.profile + '" class="profile-photo-sm" />' +
            '<p><a href="' + data.username + '" class="profile-link">' + data.display_name + '</a> ' + data.comment + '</p>' +
          '</div>'
        );
        
        $('.post-comment-lists-' + data.post_id).append(newComment);
        newComment.hide().fadeIn('slow');
        $('#typing-status-' + data.post_id).html('');
      }
    });

    // Load more posts on page scroll
    $(window).scroll(function() {
      if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
        if (lastPage != 0) { 
          $('.post-lists').append(
            '<div class="post-loader text-center">'+
              '<div class="spinner" style="width: 25px; height: 25px; margin-left: 50%; position: inherit;"></div>' +
            '</div>'
          );
          
          setTimeout(() => {
            get_posts();
          }, 200);
        }
      }
    });
  </script>
{% endblock content %}